<form [formGroup]="form">
    <select formControlName="currency1" (change)="onChangeCurrency($event.target.value)">
      <option value=""></option>
      <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
    </select>
    <input type="text" formControlName="amount1">
    <select formControlName="currency2" (change)="onChangeBase($event.target.value)">
      <option value=""></option>
      <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
    </select>
    <input type="text" formControlName="amount2">
  
  <!--  Values{{form.get('currency1') | json}}-->
  </form>
  
  <p>{{form.value | json}}</p>
