<form [formGroup]="form">
    <select #currencyName>
      <option value=""></option>
      <option *ngFor="let currency of currencies" [ngValue]="currency">{{currency}}</option>
    </select>
    <input type="text" #currencyAmount>
  <button (click)="onAddCurrency(currencyName, currencyAmount)">Add currency</button>
  <select (change)="onChangeBase(base)" #base>
    <option value=""></option>
    <option *ngFor="let currency of currencies" [ngValue]="currency">{{currency}}</option>
  </select>
</form>

<p>{{form.value | json}}</p>
<p>{{sum}}</p>
