<form [formGroup]="form">
    <select formControlName="currency1" (change)="onChangeCurrency(form.value.currency1)">
      <option value=""></option>
      <option *ngFor="let currency of currencies" [ngValue]="currency">{{currency}}</option>
    </select>
    <input type="text" formControlName="amount1" (keyup)="onChange1Input($event.target.value)">
    <select formControlName="currency2" (change)="onChangeBase(form.value.currency2)">
      <option value=""></option>
      <option *ngFor="let currency of currencies" [ngValue]="currency">{{currency}}</option>
    </select>
    <input type="text" formControlName="amount2" (keyup)="onChange2Input($event.target.value)">
  
  <!--  Values{{form.get('currency1') | json}}-->
  </form>
  
  <p>{{form.value | json}}</p>
