<h3>Cart</h3>

<p>
  <a routerLink="/shipping">Go to sheeping</a>
</p>

<div class="cart-item" *ngFor="let item of items; index as productId">
  <span>{{item.name}}</span>
  <span>{{item.price | currency}}</span>
  <button (click)="removeFromCart(product)">Remove</button>
</div>
<button *ngIf="items && items.length > 0" (click)="clearCart()">Clear cart</button>

<form [formGroup]="checkedForm" (ngSubmit)="onSubmit(checkedForm.value)">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name">
  </div>
  <div>
    <label for="address">Address</label>
    <input type="text" id="address" formControlName="address">
  </div>

  <button class="button" type="submit">Purchase</button>
  <button class="button" type="button" (click)="resetForm()">Reset</button>
  </form>
  <div>
    <h3>Customer</h3>
    <p>Name: {{checkedForm.controls.name.value}}</p>
    <p>Address: {{checkedForm.controls.address.value}}</p>
  </div>