<a [routerLink]="['/']">
    <h1>My store</h1>
</a>

<a [routerLink]="['/cart']" class="button fancy-button">
    <i class="material-icons">shopping_cart</i>
    Checkout
</a>
<a [routerLink]="['/wish-list']" class="button fancy-button">
    Wish List
</a>

<a *ngIf="isAuthorized" [routerLink]="['/users']" class="button fancy-button">
  Users
</a>

<a *ngIf="!isAuthorized" [routerLink]="['/register']" class="button fancy-button">
  Register
</a>

<a [routerLink]="['/currency']" class="button fancy-button">
  Currencies
</a>

<a [routerLink]="['/currency-converter']" class="button fancy-button">
  Currency Converter
</a>

<a [routerLink]="['/dashboard']" class="button fancy-button">
  Dashboard
</a>

<a [routerLink]="['/employees']" class="button fancy-button">
  Employees
</a>

<a [routerLink]="['/guard']" class="button fancy-button">
  Guard
</a>

<a *ngIf="!isAuthorized" [routerLink]="['/login']" class="button fancy-button">
  Login
</a>

<a *ngIf="isAuthorized" (click)="logOut()" class="button fancy-button">
  LogOut
</a>
